@using BlazorApp1.Pages
@using Recipe = Via.Dk.Recipe
<div tabindex="@GetTabIndex()" aria-label="@GetLabel()"
     class="rounded overflow-hidden shadow-lg @SelectedClass @GetSelectableClasses()"
     onclick="@OnSelect">
    <img class="w-full" src="@ImageUrl" alt="Sunset in the mountains">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-3">@Title</div>
        <ul class="flex gap-2 mb-2 font-semibold">
            @foreach (string ing in Ingredients)
            {
                <span class="first-of-type:hidden">•</span>
                <li
                    class="">@ing</li>
            }
        </ul>
        <hr class="border-gray-200 mb-3"/>
        <p class="text-gray-700 text-base mb-3">@Description</p>
        <div class="flex gap-2 mb-3 flex-wrap">
            @foreach (string type in Types)
            {
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">@type</span>
            }
        </div>
        @if (Editable)
        {
            <div class="flex justify-end gap-2 w-full">
                <button class="bg-yellow-500 font-normal text-sm hover:bg-yellow-600 text-white py-2 px-4 rounded">
                    Edit
                </button>
                <button class="bg-red-600 font-normal text-sm hover:bg-red-600 text-white py-2 px-4 rounded">Delete
                </button>
            </div>
        }
    </div>
</div>

@code



{

    [Parameter] public int Id { get; set; }
    [Parameter] public string Title { get; set; } = "Spaghetti bolognese";
    [Parameter] public string Description { get; set; } = "Test description";
    [Parameter] public string ImageUrl { get; set; } = "https://placehold.co/600x400";
    [Parameter] public bool Editable { get; set; } = false;
    [Parameter] public IReadOnlyList<string> Types { get; set; }
    [Parameter] public IReadOnlyList<string> Ingredients { get; set; }
    [Parameter] public EventCallback<string> OnSelected { get; set; }
    [Parameter] public bool Selectable { get; set; } = false;
    private bool IsSelected { get; set; }
    private string SelectedClass { get; set; }

    private int GetTabIndex()
    {
        return Selectable ? 0 : -1;
    }

    private string GetLabel()
    {
        return Selectable ? "Select recipe " + Title : "";
    }

    private string GetSelectableClasses()
    {
        return Selectable ? "cursor-pointer" : "";
    }

    private void ToggleSelected()
    {
        if (!Selectable)
        {
            return;
        }

        if (!IsSelected)
        {
            SelectedClass = "bg-green-100 border border-green-500";
            IsSelected = true;
            return;
        }

        SelectedClass = "";
        IsSelected = false;
    }

    private void OnSelect()
    {
        ToggleSelected();
        if (IsSelected)
        {
            OnSelected.InvokeAsync(Id.ToString());
            return;
        }

        OnSelected.InvokeAsync(null);
    }
}
